<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="assessor.android.com.dummyassessorapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ExamSection.Practical_Exam.Practical_Exam"></activity>

        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="assessor.android.com.dummyassessorapp" />

        <activity android:name=".ExamSection.Viva_Exam.Practical_Marks" />
        <activity
            android:name=".SignIn.SplashScreen"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn.Assessor_Signup"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".AsssessorAttendance.AssessorAttenAct"
            android:label="Assesor Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".SignIn.SignInAct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".AsssessorAttendance.BatchSelection"
            android:label="Select Batch"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".StudentsAttenandList.StudentsListAct"
            android:label="Students List"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".StudentsAttenandList.StudentAttenAct"
            android:label="Student Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".TestPack.TestInstruction"
            android:label="Instructions"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".AsssessorAttendance.Welcome_page"
            android:screenOrientation="portrait"
            android:theme="@style/Apptheme2" />
        <activity
            android:name=".ExamSection.Viva_Exam.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Apptheme2" />
        <activity android:name=".Assesment_Que.Question_List" />
    </application>

</manifest>